@page "/"
@using Microsoft.AspNetCore.Authorization
@using INKIPER.GraphQL
@using INKIPER.GraphQL.Responses
@using INKIPER.GraphQL.Types
@inject GraphqlService GraphqlService
@attribute [Authorize]

<PageTitle>Dashboard</PageTitle>

<h1>Hello, world!</h1>

<Loader />

@code
{
    protected override async Task OnInitializedAsync()
    {
        // var response = await GraphqlService.ExecGraphQLQuery<List<Role>>(RolesGraphQLs.GET_ROLES);
        // Console.WriteLine(response);
    }
}
